body {
    font-family: Verdana;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.namespace {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info:nth-child(odd) {
    background: lightgrey;
}

.deployment {
    margin-left: 10px
}

.image {
    margin-right: 10px
}